<div class="w-full p-5 pt-20">
    <div class="max-w-screen-lg mx-auto">
        <h2 class="text-2xl font-bold mb-5">Main Cube</h2>
        <div class="cube-container">
            <div id="cube">
                <figure class="face front">1</figure>
                <figure class="face back">2</figure>
                <figure class="face left">3</figure>
                <figure class="face right">4</figure>
                <figure class="face top">5</figure>
                <figure class="face bottom">6</figure>
            </div>
        </div>
        <h2 class="text-2xl font-bold mb-5">Grid Cube</h2>
        <div class="grid gap-5 grid-cols-3">
            {#each Array(6) as _, index (index)}
            <div class="grid-cube-container">
                <div class="grid-cube">
                    <figure class="face front">1</figure>
                    <figure class="face back">2</figure>
                    <figure class="face left">3</figure>
                    <figure class="face right">4</figure>
                    <figure class="face top">5</figure>
                    <figure class="face bottom">6</figure>
                </div>
            </div>
            {/each}
        </div>
    </div>
    
</div>
<style>
    :root {
    --cube-size: 800px;
    --grid-cube: 200px;
    }
    .cube-container {
        width: var(--cube-size);
        height:  var(--cube-size);
        position: relative;
        perspective: calc( var(--cube-size) * 5);
        margin: 0 auto;
        margin-top: calc( var(--cube-size) / 2);
        margin-bottom: 500px;
    }

    #cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transform: translateZ(calc( var(--cube-size) / -2)) rotateZ(45deg) rotateX(45deg);
        animation: spin 10s infinite linear;
    }

    @keyframes spin {
        0% {
            transform: translateZ(calc( var(--cube-size) / -2)) rotateY(360deg) rotateZ(0deg) rotateX(45deg)
        }

        50% {
            transform: translateZ(calc( var(--cube-size) / -2)) rotateY(180deg) rotateZ(180deg) rotateX(45deg)
        }

        100% {
            transform: translateZ(calc( var(--cube-size) / -2)) rotateY(0deg) rotateZ(360deg) rotateX(45deg)
        }
    }

    #cube figure {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        line-height: var(--cube-size);
        background: #F2F8FF;
        font-size: 120px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        border: 1px solid rgb(153, 153, 153);
        backface-visibility: hidden;
    }

    #cube .front {
        transform: rotateY(0deg) translateZ(calc( var(--cube-size) / 2));
        background: url('https://images.unsplash.com/photo-1603060631628-946835734b51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
        background-size: cover;
    }

    #cube .back {
        transform: rotateX(180deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .right {
        transform: rotateY(90deg) translateZ(calc( var(--cube-size) / 2));
        background: url('  https://images.unsplash.com/photo-1484863137850-59afcfe05386?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
        background-size: cover;
      
    }

    #cube .left {
        transform: rotateY(-90deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .top {
        transform: rotateX(90deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .bottom {
        transform: rotateX(-90deg) translateZ(calc( var(--cube-size) / 2));
    }


    .grid-cube-container {
        width: var(--grid-cube);
        height:  var(--grid-cube);
        position: relative;
        perspective: calc( var(--grid-cube) * 5);
        margin: 50px auto;
    }

    .grid-cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 0.6s ease;
        cursor: pointer;
    }
    .grid-cube:hover {
        transform: translateZ(calc( var(--grid-cube) / -2)) rotateY(-40deg) rotateZ(0deg) rotateX(45deg)
    }

    .grid-cube figure {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        line-height: var(--grid-cube);
        background: rgba(0, 0, 255, 0.25);
        font-size: 120px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        border: 1px dotted blue;
        backface-visibility: hidden;
    }

        .grid-cube .front {
                transform: rotateY(0deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .back {
                transform: rotateX(180deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .right {
                transform: rotateY(90deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .left {
                transform: rotateY(-90deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .top {
                transform: rotateX(90deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .bottom {
                transform: rotateX(-90deg) translateZ(calc( var(--grid-cube) / 2));
            }
</style>