<div class="w-full p-5 pt-20">
    <div class="max-w-screen-lg mx-auto">
        <h2 class="text-2xl font-bold mb-5">Grid Cube</h2>
        <div class="grid gap-4 grid-cols-4">
            {#each Array(32) as _, index (index)}
            <div class="grid-cube-container">
                <div class="grid-cube">
                    <figure class="face front">
                        <img width="100" class=" mix-blend-darken " src="https://www.wbcsd.org/var/site/storage/images/overview/our-members/members/archer-daniels-midland-company-adm/31489-13-eng-GB/Archer-Daniels-Midland-Company-ADM_i160.jpg" alt="ADM">
                        <h3 class="underline mt-5 text-sm">ADM</h3>
                    </figure>
                    <figure class="face back"></figure>
                    <figure class="face left"></figure>
                    <figure class="face right"></figure>
                    <figure class="face top"></figure>
                    <figure class="face bottom">
                        <svg width="60" class=""  viewBox="0 0 121 121" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M60.5 95.7913V25.208" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25.2084 60.4997L60.5 25.208L95.7917 60.4997" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </figure>
                </div>
            </div>
            {/each}
        </div>
    </div>
    
</div>
<style>
    :root {
    --grid-cube: 200px;
    }
   
    .grid-cube-container {
        width: var(--grid-cube);
        height:  var(--grid-cube);
        position: relative;
        perspective: calc( var(--grid-cube) * 5);
        margin: 20px auto;
    }

    .grid-cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 0.6s ease;
        cursor: pointer;
    }
    .grid-cube:hover {
        transform: translateZ(calc( var(--grid-cube) / -2)) rotateY(38deg) rotateZ(27deg) rotateX(30deg);

    
    }
    .grid-cube:hover  svg {
           
        }

    .grid-cube figure {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: #eaecf0;
        text-align: center;
        backface-visibility: hidden;
    }

        .grid-cube .front {
                transform: rotateY(0deg) translateZ(calc( var(--grid-cube) / 2));
                @apply justify-center items-center flex flex-col;
            }

        .grid-cube .back {
                transform: rotateX(180deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .right {
                transform: rotateY(90deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .left {
                transform: rotateY(-90deg) translateZ(calc( var(--grid-cube) / 2));
                background: url('https://plus.unsplash.com/premium_photo-1666863911660-d64fc1022c12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
                background-size: cover;
            }

        .grid-cube .top {
                transform: rotateX(90deg) translateZ(calc( var(--grid-cube) / 2));
            }

        .grid-cube .bottom {
                transform: rotateX(-90deg) translateZ(calc( var(--grid-cube) / 2));
                background: #fd8300;
                @apply justify-center items-center flex;
            }
</style>