<section class="w-full h-[600px] bg-green text-White flex items-center p-5 overflow-hidden relative">
    <BackgroundCube/>
    <h1 class="text-6xl">Title for section</h1>
</section>
<section class="h-[1200px]"></section>

<script>
    import BackgroundCube from '../../lib/components/BackgroundCube.svelte'
</script>