<div class="h-screen bg-[#EFECE5]">
    <div class="container">
        {#each Array(9) as _, index (index)}
            <div class="cube" id="cube-{index+1}">
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="front"></div>
                <div class="back"></div>
            </div>
        {/each}
    </div>
</div>

<style lang="scss">
$containerSize: 600px;
$cubeMargin: 17px;
$totalCube: 9;
$col: 3;
$animationDuration: 10s;
$delayAnimation: 0.1;

$cubeSize: calc(($containerSize / ($totalCube / $col)) - $cubeMargin);
$facesPosition: calc($cubeSize / 2);

.container {
  width: $containerSize;
  height: $containerSize;
  position: relative;
  perspective: 1000px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.cube {
  width: $cubeSize;
  height: $cubeSize;
  transform-style: preserve-3d;
  position: absolute;
  transform-origin: center;
  animation: rotation $animationDuration infinite ease
}

.cube div {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

}

.cube .front {
  transform: rotateY(0deg) translateZ($facesPosition);
  background: #e66d10;
}

.cube:nth-child(2n) .front {
  background: #ffaf76;
}


.cube .back {
  transform: rotateX(180deg) translateZ($facesPosition);
  background: #CAB6A5;
}

.cube .right {
  transform: rotateY(90deg) translateZ($facesPosition);
background: #61704B;

}

.cube:nth-child(2n) .right {
  background: #cee1e8;
}

.cube .left {
  transform: rotateY(-90deg) translateZ($facesPosition);
  background: #61704B;
}

.cube:nth-child(2n+1) .left {
  background: #C3CBB6;
}

.cube .top {
  transform: rotateX(90deg) translateZ($facesPosition);
  background: #465C66;
}

.cube:nth-child(2n) .top {
  background: #BAC6D4;
}

.cube .bottom {
  transform: rotateX(-90deg) translateZ($facesPosition);
  background: #b3d1da;
}

.cube:nth-child(2n) .bottom {
  background: #a5c2cd;
}

/*----------*/

.cube:nth-child(1) .front {
  background: url(https://images.unsplash.com/photo-1682687220063-4742bd7fd538?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80);
  background-size: cover;
}

.cube:nth-child(3) .front {
  background: url(https://images.unsplash.com/photo-1685392535337-0a20131650e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80);
  background-size: cover;
}
.cube:nth-child(5) .front {
  background: url(https://images.unsplash.com/photo-1685371863474-90594391bc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
}

.cube:nth-child(1) .top {
  background: url(https://images.unsplash.com/photo-1685371863474-90594391bc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
}
.cube:nth-child(4) .top {
  background: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
}
.cube:nth-child(8) .top {
  background: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
}

.cube:nth-child(1) .left {
  background: url(https://images.unsplash.com/photo-1685371863474-90594391bc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
}
.cube:nth-child(4) .left {
  background: url(https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
}
.cube:nth-child(8) .left {
  background: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
}

.cube:nth-child(1) .bottom {
  background: url(https://images.unsplash.com/photo-1685371863474-90594391bc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
}
.cube:nth-child(4) .bottom {
  background: url(https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80);
  background-size: cover;
}
.cube:nth-child(8) .bottom {
  background: url(https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80);
  background-size: cover;
}

/*----------*/

@keyframes rotation {
  0%   {transform: rotateX(0) rotateY(0);}
  25%  {transform: rotateX(-90deg) rotateY(90deg);}
  50%  {transform: rotateX(-180deg) rotateY(180deg);}
  75%  {transform: rotateX(-270deg) rotateY(270deg);}
  100% {transform: rotateX(-360deg) rotateY(360deg);}
}

$columns: calc(($totalCube / $col) - 1);
$cubeI: 0;
$delayI: 0;
@for $y from 0 through $columns {
  
  $delayI: $y;
  
  @for $x from 0 through $columns {
    $cubeI: $cubeI+1;
    $delayI: $delayI+1;
    #cube-#{$cubeI} {
      left: calc($x * ($cubeSize + $cubeMargin));
      top: calc($y * ($cubeSize + $cubeMargin));
      animation-delay: ($delayAnimation * $delayI)+s;
    }
  }
}
</style>