<main class="bg-Pearl">
    <div class="h-[800px]"></div>
    <div class="h-[3632px]">
        <div class="cube-container sticky top-0">
            <div class="cube" bind:this={cube}>
                <div class="face front">
                    <h2 class="text-2xl mb-2">Leaders helping leaders</h2>
                    <p>We engage executives and sustainability leaders from business and elsewhere to share practical insights on the obstacles and opportunities we currently face in tackling the integrated climate, nature and inequality sustainability challenge.</p>
                </div>
                <div class="face bottom"></div>
                <div class="face left">  <h2 class="text-2xl mb-2">Science-based target guidance including standards and protocols</h2>
                    <p>We engage executives and sustainability leaders from business and elsewhere to share practical insights on the obstacles and opportunities we currently face in tackling the integrated climate, nature and inequality sustainability challenge.</p></div>
                <div class="face right ">  <h2 class="text-2xl mb-2">Leaders helping leaders</h2>
                    <p>We engage executives and sustainability leaders from business and elsewhere to share practical insights on the obstacles and opportunities we currently face in tackling the integrated climate, nature and inequality sustainability challenge.</p></div>
                <div class="face top"></div>
                <div class="face back transform ">  <h2 class="text-2xl mb-2">Leaders helping leaders</h2>
                    <p>We engage executives and sustainability leaders from business and elsewhere to share practical insights on the obstacles and opportunities we currently face in tackling the integrated climate, nature and inequality sustainability challenge.</p></div>
            </div>
        </div>
    </div>
    <div class="h-[800px]"></div>
</main>
<script>
// @ts-nocheck

    import { onMount } from 'svelte';
  
    let cube;
  
    onMount(() => {
      window.addEventListener('scroll', handleScroll);
  
      return () => {
        window.removeEventListener('scroll', handleScroll);
      };
    });
  
    function handleScroll() {
      const scrollTop = window.scrollY - 800;
      const rotation = scrollTop / 10; // Adjust the speed of rotation here
  
      if (rotation > 0) {
        cube.style.transform = `translateZ(-100px) rotateY(${rotation}deg)`;
      }
     
    }
  </script>
<style lang="scss">
    $cubeSize: 600px;
    .cube-container {
        @apply h-screen flex justify-center items-center;
        transform-style: preserve-3d;

            transform-origin: center;
            transform: rotateX(348deg) ;
        .cube {
            width: $cubeSize;
            height: $cubeSize;
            transform-style: preserve-3d;
            position: absolute;
            transform-origin: center;
            //transform: rotateX(348deg) rotateY(44deg);
            .face {
                @apply bg-green m-0 w-full h-full block absolute p-20 text-White;

                &.front {
                    transform: translateZ(calc($cubeSize / 2));
                    background-color: rgb(51, 71, 47);
                }
                &.back {
                    transform: rotateX(180deg) rotateZ(180deg) translateZ(calc($cubeSize / 2));
                    background-color: rgb(51, 71, 47);
                }
                &.right {
                    transform: rotateY(90deg) translateZ(calc($cubeSize / 2));
                    background: #4a5a3e;
                }
                &.left {
                    transform: rotateY(-90deg) translateZ(calc($cubeSize / 2));
                }
                &.top {
                    transform: rotateX(90deg) translateZ(calc($cubeSize / 2));
                }
                &.bottom {
                    transform: rotateX(-90deg) translateZ(calc($cubeSize / 2));
                }
            }
        }
    }
</style>