<div class="cube-container">
    <div id="cube">
        <figure class="face front"></figure>
        <figure class="face back"></figure>
        <figure class="face left"></figure>
        <figure class="face right"></figure>
        <figure class="face top"></figure>
        <figure class="face bottom"></figure>
    </div>
</div>

<style>
    :root {
    --cube-size: 700px;
    }
    .cube-container {
        @apply absolute right-0 top-0;
        width: var(--cube-size);
        height:  var(--cube-size);
        perspective: calc( var(--cube-size) * 5);
        margin-top: calc( var(--cube-size) / 2);
        margin-bottom: 500px;
    }

    #cube {
        @apply w-full h-full absolute;
        transform-style: preserve-3d;
        transform: translateZ(calc( var(--cube-size) / -2)) rotateZ(45deg) rotateX(45deg);
        animation: spin 20s infinite linear;
    }

    @keyframes spin {
        0% {
            transform: translate(0,0) translateZ(calc( var(--cube-size) / -2)) rotateY(360deg) rotateZ(0deg) rotateX(45deg)
        }

        50% {
            transform: translate(400px,-150px) translateZ(calc( var(--cube-size) / -2)) rotateY(180deg) rotateZ(180deg) rotateX(45deg)
        }

        100% {
            transform: translate(0px,-0px) translateZ(calc( var(--cube-size) / -2)) rotateY(0deg) rotateZ(360deg) rotateX(45deg)
        }
    }

    #cube figure {
        @apply w-full h-full absolute block;
        background: #758361;
        backface-visibility: hidden;
    }

    #cube .front {
        transform: rotateY(0deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .back {
        transform: rotateX(180deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .right {
        transform: rotateY(90deg) translateZ(calc( var(--cube-size) / 2));
      
    }

    #cube .left {
        transform: rotateY(-90deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .top {
        transform: rotateX(90deg) translateZ(calc( var(--cube-size) / 2));
    }

    #cube .bottom {
        transform: rotateX(-90deg) translateZ(calc( var(--cube-size) / 2));
    }

</style>