<div class="bg-[#3F3D38] flex justify-end items-center h-screen w-full pr-44" on:mousemove={handleMouseMove}>
    <div class="overflow-hidden relative p-40 bg-black mix-blend-plus-lighter">
        <div class="cube-container relative">
            <div class="face front-face">
             
            </div>
            <div class="face back-face"></div>
            <div class="face right-face"></div>
            <div class="face left-face"></div>
            <div class="face top-face"></div>
            <div class="face bottom-face"></div>
        </div>

        <img src="https://images.unsplash.com/photo-1592751854342-ea1f2edbc2bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="absolute top-0 left-0 w-full h-full object-cover mix-blend-darken" style="filter: brightness(0.8) contrast(1.1);" alt="">

    </div>
</div>

<script>
  let mouseX = 0;
  let mouseY = 0;

  /**
   * @param {{ clientX: number; clientY: number; }} event
   */
  function handleMouseMove(event) {
    mouseX = event.clientX;
    mouseY = event.clientY;

    const cube = document.querySelector('.cube-container');

    // @ts-ignore
    cube.style.transform = `rotateX(${mouseY / 40 - 45}deg) rotateY(${-mouseX / 30 + 45}deg) translate(${mouseX / 30 }%, ${mouseY / 30}%)`;
  }


</script>
<style>
    .cube-container {
        width: 400px;
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s linear;
        transform: rotateX(45deg) rotateY(-45deg);
    }

    .face {
        position: absolute;
        width: 400px;
        height: 400px;
        background: white;
    }

    .front-face {
        transform: translateZ(200px);
    }

    .back-face {
        transform: rotateY(180deg) translateZ(200px);
    }

    .right-face {

        transform: rotateY(90deg) translateZ(200px);
    }

    .left-face {
        transform: rotateY(-90deg) translateZ(200px);
    }

    .top-face {
        transform: rotateX(90deg) translateZ(200px);
    }

    .bottom-face {
        transform: rotateX(-90deg) translateZ(200px);
    }

    @keyframes rotate-cube {
        0% {
            transform: rotateX(0deg) rotateY(0deg);
        }

        50% {
            transform: rotateX(60deg) rotateY(120deg);
        }

        100% {
            transform: rotateX(180deg) rotateY(360deg);
        }
    }
</style>